<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
     1.此文件的路径:存放于当前接口相同目录(spring.xml指定路径) 
     2.此文件命名规则必须是:与接口忽略大小写同名
     3.namespace的值必须是UserMapper所对应的包名.类名
     4.所有SQL标签的id属性值必须是接口里面对应的方法名
-->
<mapper namespace="mapper.userMapper">
  
  <insert id="saveUser" parameterType="bean.User">
    insert into user(username,pwd,email,phone) values(#{username},#{pwd},#{email},#{phone})
  </insert>
  <select id="fingUserByname" parameterType="String" resultType="bean.User">
  select * from user where username=#{username}
  </select>
   
</mapper>